!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

    -# Pull in the page title
    %title= @title

    %meta{:name => "description", :content => "BarCamp Rochester"}
    %meta{:name => "author", :content => "BarCamp Rochester"}
    %meta{:name => "viewport", :content => "width=device-width"}

    -# Place favicon.ico and apple-touch-icon.png in the root directory

    = stylesheet_link_tag "screen"
    = javascript_include_tag "libs/modernizr-2.6.1.min"

  %body{:class => "#{@bodyclass}"}
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
    .container
      %header#mainheader
        %h1#headerlogo
          %a{:href => "/"} BarCamp Rochester
        .social-links
          %a.fc-webicon.twitter{:href => "http://twitter.com/BarCampRoc"} Twitter
          %a.fc-webicon.flickr{:href => "http://www.flickr.com/groups/barcamproc"} Flickr
          %a.fc-webicon.vimeo{:href => "http://vimeo.com/barcamproc"} Vimeo
          %a.fc-webicon.facebook{:href => "http://facebook.com/barcamproc"} Facebook
          .twitter-button
            %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "http://barcamproc.org", :text => "I'm going to BarCamp Rochester on April 20th!", :size => "large", :related => "BarCampRoc", :via =>"BarCampRoc"}} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        %nav
          %ul#mainnav
            %li.navitem
              %a{:href => "/"} Home
            %li.navitem
              %a{:href => "#{data.global.registration}"} Register
            %li.navitem
              %a{:href => "/attendees/"} Attendees
            %li.navitem
              %a{:href => "/directions/"} Directions
            %li.navitem
              %a{:href => "/media/"} Media
            %li.navitem
              %a{:href => "/howto/"} How-to
            %li.navitem
              %a{:href => "/sponsor/"} Sponsor
            %li.navdate= data.global.next_date

      #main-content{:role => "main"}

        = yield

      %footer
        %img{:src => "/images/barcamprocicon.png"}

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.9.0.min.js"><\/script>')

    -# Holder.js - canvas-generated placeholder images for prototyping
    = javascript_include_tag "libs/holder"

    = javascript_include_tag "plugins", "script"

