!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    -# Google Web Fonts
    :javascript
      WebFontConfig = {
          google: { families: [ 'Lato:400,700:latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

    -# Pull in the page title
    %title= "BarCamp Rochester - " + @title

    %meta{:name => "description", :content => "BarCamp Rochester"}
    %meta{:name => "author", :content => "BarCamp Rochester"}
    %meta{:name => "viewport", :content => "width=device-width"}

    -# Place favicon.ico and apple-touch-icon.png in the root directory

    = stylesheet_link_tag "screen"
    = javascript_include_tag "libs/modernizr-2.6.1.min"

  %body{:class => "#{@bodyclass}"}
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
    #mainheader-wrap
      .container
        %header#mainheader
          %h1#headerlogo
            %a.logolink{:href => "/"} BarCamp Rochester
          .social-links
            %a.fc-webicon.twitter{:href => "http://twitter.com/BarCampRoc"} Twitter
            %a.fc-webicon.flickr{:href => "http://www.flickr.com/groups/barcamproc"} Flickr
            %a.fc-webicon.vimeo{:href => "http://vimeo.com/barcamproc"} Vimeo
            %a.fc-webicon.facebook{:href => "http://facebook.com/barcamproc"} Facebook
            .twitter-button
              %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "http://barcamproc.org", :text => "I'm going to BarCamp Rochester on #{data.global.next_date}!", :size => "large", :related => "BarCampRoc", :via =>"BarCampRoc"}} Tweet
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      #mainnav-wrap
        .container
          %nav
            %ul#mainnav
              %li.navitem
                %a.home{:href => "/"} Home
              %li.navitem
                %a.register{:href => "/register/"} Register
              %li.navitem
                %a.attendees{:href => "/attendees/"} Attendees
              %li.navitem
                %a.directions{:href => "/directions/"} Directions
              %li.navitem
                %a.media{:href => "/media/"} Media
              %li.navitem
                %a.howto{:href => "/howto/"} How-to
              %li.navitem
                %a.sponsor{:href => "/sponsor/"} Sponsor

    .container
      #main-content{:role => "main"}

        = yield

        .sidebar
          .sidebar-card
            %h3= "The #{data.global.next_event} BarCamp is on <br> Saturday, #{data.global.next_date}"
            - if @bodyclass != "register"
              %p.registerlink
                %a.registerbutton{:href => "/register/"} Register today!

          .sidebar-twitter-widget
            %a.twitter-timeline{:href => "https://twitter.com/BarCampRoc", :"data-widget-id" => "314585212094914560"}
              %span.twitter-profile-link Tweets by @BarCampRoc
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


      %footer
        .bcr-icon

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.9.0.min.js"><\/script>')

    = javascript_include_tag "plugins", "script"

