- @title = "BarCamp Rochester Attendee Topics"
- @bodyclass = "attendees"

%section.main-column
  %h1 BarCamp / CloudCamp Rochester
  %h2= data.global.next_event
  %h3 Here are some topics people will be presenting:
  %p
    If you haven't signed up yet, you can
    %a{:href => "/register/"} register here.

  %ul#attendees
    - data.attendees.talks.each do |a|
      %li.attendee{:title => a[:topic]}
        %p.who
          = a[:first_name] + " " + a[:last_name]
        %p.twitter-link
          - if not a[:twitter].blank?
            %a.twitter{:href => "http://twitter.com/#!/#{a.twitter}"}
              = "@" + a[:twitter]
        %p.what= a[:topic]

  %h3 &hellip;and these people registered without a presentation topic:
  %ul#deadbeats
    - data.attendees.deadbeats.each do |a|
      %li.deadbeat{:title => a[:topic]}
        %p.who
          = a[:first_name] + " " + a[:last_name]
        %p.twitter-link
          - if not a[:twitter].blank?
            %a.twitter{:href => "http://twitter.com/#!/#{a.twitter}"}
              = "@" + a[:twitter]
          - else
            %span.twitter.nothing &hellip;

  #count
    %pre=data.attendees.talks.size + data.attendees.deadbeats.size

    people have registered.
