- @title = "BarCamp Rochester Attendee Topics"
- @bodyclass = "attendees"

%section.main-column
  %h1 BarCamp / CloudCamp Rochester
  %h2= data.global.next_event
  %h3 Here are some topics people will be presenting:

  %ul#attendees
    - data.attendees.each do |a|
      %li.attendee
        %p.who
          ="#{a[:first_name]} #{a[:last_name]}"
          - if a.twitter != ""
            %a.twitter{:href => "http://twitter.com/#!/#{a.twitter}"}="@#{a[:twitter]}"
        %p.what="#{a[:topic]}"

  %p
    If you haven't signed up yet, you can
    %a{:href => "/register/"} register here.

