- @title = "#{data.global.next_date} at RIT"
- @bodyclass = "home"

%section.main-column
  -# :markdown
  -#   # BarCamp Rochester is streaming live right now!
  -# <object type="application/x-shockwave-flash" data="http://www.justin.tv/widgets/live_embed_player.swf?channel=barcamproc" id="live_embed_player_flash" height="600" width="800" bgcolor="#000000"><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.justin.tv&channel=barcamproc&auto_play=false&start_volume=25" /></object><a href="http://www.justin.tv/barcamproc#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center">Watch live video from barcamproc on www.justin.tv</a>

  :markdown
    ## Rochester's Geek Unconference

    BarCamp Rochester is an ad-hoc gathering born from the desire for people to share and learn in an open environment. BarCamp Rochester is an intense event with [discussions, demos, and interaction from attendees](/attendees/). All attendees should give a demo, a session, or help with one. All presentations are scheduled the day they happen. Prepare in advance, but come early to get a good slot on the schedule.

    ### BarCamp / CloudCamp Rochester, #{data.global.next_event}

    BarCamp Rochester will be co-hosted with CloudCamp Rochester and held at the **[Rochester Institute of Technology](/directions/)** on **Saturday, #{data.global.next_date}**.

    This is the same unconference style day of fun and learning as always.

    If you want to learn more about how BarCamp Rochester works, you can always check out [our How-To page](/howto/).

  -# **Check-in begins around 8:00AM, with the first presentations starting at 9:00AM.**
  -# :markdown
  -#   Registration is open, so **[sign up now](/register/)!**

  %h3="Our #{data.global.next_event} Sponsors"
  %ul#sponsors
    - data.global.sponsors.each do |s|
      %li.bcr-sponsor
        = link_to "http://#{s.link}", :class => "bcr-sponsor-logo" do
          = image_tag "#{s.id}.png"
        .bcr-sponsor-desc
          %p= s.description
          %p.bcr-sponsor-link
            = link_to s.name, "http://#{s.link}"
            - if s.twitter
              .thankyou-tweet
                %a{:href => "https://twitter.com/intent/tweet?screen_name=#{s.twitter}&text=thank%20you%20for%20supporting%20%40BarCampRoc%20Spring%202013!", :class => "twitter-mention-button", "data-related" => "chorn", "data-lang" => "en"}= "Tweet to @#{s.twitter}"


  %h4
    %a{:href => "sponsors_201210/"} Sponsors from Fall 2012
  %h4
    %a{:href => "sponsors_201304/"} Sponsors from Spring 2013
