- @title = "Registration"
- @bodyclass = "register"

%section.main-column
  :markdown
    # BarCamp Rochester

    ## #{data.global.next_event} Registration


  %a(href="#{data.global.registration}")
    %img(src="https://www.eventjoy.com/images/register-long-button.png" style="width:200px")

  :markdown
    Next, put **Saturday, #{data.global.next_date} on your calendar**. Remember, check-in begins around #{data.global.reg_start}, with the first presentations starting at #{data.global.talk_start}.

